html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: rgb(10, 10, 10);
}

.transition-300ms {
    transition: 0.3s;
}
.transition-300ms:hover {
    transition: 0.3s;
}

.navbar {
    height: 10%;
    background-color: rgb(20, 20, 20);
}

.navbar-home {
    height: 100%;
    color: black;
    margin-left: 30px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(44, 175, 131);
}

.navbar-home:hover {
    color: white;
}

.main-page-div {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.create-quiz-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.option-button {
    width: 300px;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(44, 175, 131);
    font-size: 30px;
    color: rgb(44, 175, 131);
    text-decoration: none;
}

.option-button:hover {
    background-color: rgb(44, 175, 131);
    color: rgb(10, 10, 10);
}

.create-quiz-home-button:hover {
    transition: 0.3s;
    color: white;
}

.create-quiz-aside-and-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.create-quiz-aside {
    width: 0%;
}

.create-quiz-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.create-quiz-new-button {
    text-decoration: none;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(44, 175, 131);
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 175, 131);
    font-size: 30px;
}

.create-quiz-new-button:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(44, 175, 131);
}

.new-quiz-manage-panel {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.new-quiz-showcase {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid rgb(44, 175, 131);
}

.new-quiz-management-div {
    display: flex;
    flex-direction: column;
    width: 67%;
}

#new-quiz-management-edit-buttons-div {
    display: flex;
    flex-direction: column;
}

#new-quiz-save-button-div {
    display: flex;
}

#new-quiz-save-button {
    margin-top: 30px;
    margin-left: 30px;
}

.new-quiz-edit-button {
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgb(44, 175, 131);
    color: rgb(44, 175, 131);
    font-size: 25px;
    border-radius: 15px;
}

.new-quiz-edit-button:hover {
    border-color: white;
    color: white;
    background-color: rgb(44, 175, 131);
    cursor: pointer;
}

#new-quiz-name-div {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-quiz-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#new-quiz-save-button-div {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

#new-quiz-save-button {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid limegreen;
    border-radius: 15px;
    background-color: transparent;
    color: limegreen;
    font-size: 25px;
}

#new-quiz-save-button:hover {
    color: white;
    border-color: white;
    background-color:limegreen;
    cursor: pointer;
}